.main-style {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbf9e0;
}

img {
    height: 90%;
    width: 90%;
}

.innerText {
    position: absolute;
    color: #dbb52b;
    font-family: "Gowun Dodum";
    font-size: 24px;
    font-weight: 400;
    vertical-align: 100px;
    width: 30%;
}

@media screen and (max-width: 600px) {
    .innerText {
        font-size: 12px;
    }

    .lowerText {
        font-size: 12px;
    }
}

.lowerText {
    color: black;
    font-family: "Gowun Dodum";
    font-size: 24px;
    font-weight: 400;
}