@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject List<Prediction> Predictions
@page "/"
<div class="main-style">
    <img class="img-v" src="IMG1.png" />
    <div class="innerText">@Predictions[id].Value.</div>
    <p class="lowerText">KOLDOVSTVOREZ</p>
</div>
@code {
    private int id = 0;
    protected override async Task OnInitializedAsync()
    {
        if (await LocalStorage.ContainKeyAsync("id") is false)
        {
            await LocalStorage.SetItemAsync("id", new Random().Next(0, Predictions.Count));
        }
        id = await LocalStorage.GetItemAsync<int>("id");
    }

}