.page {
    background-color: #fbf9e0;
    position: relative;
    display: flex;
    flex-direction: column;
}
div {
    height: 100vh;
}
main {
    background-color: #fbf9e0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #fbf9e0;
    width: 100%;
    height: 100%;
}